@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  box-sizing: border-box;
  /* border: 1px solid red; */
}
 
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
